/*based on my main site :)*/
@font-face {
    font-family: "Softy Sharp";
    src: url('assets/fonts/softy-sharp.ttf');
}

@font-face {
    font-family: Softy;
    src: url('assets/fonts/softy.ttf');
}

:root {
    --header_fill: #fff;
    --pagecontainer_fill: #ffffffc0;
    --dropdown_fill: #ffffff00;
    --dropdownselected_fill: #ffffffa0;

    --background_color: #000;
    --background_color2: #002200;
    --text_color: #75ff70;
    --text_hover: #ddffcc;
    --text_warn: #ffff22;

    --transition_time: 2s;
    --font_size: 18px;
    --button_font_size: 14px;
    --spacing: 10px;
    --border_width: 2px;
}

body {
    background-color: var(--background_color);
    background: repeating-linear-gradient(0deg,var(--background_color),var(--background_color2) 10px);
    color: var(--text_color);
    border-color: var(--text_color);
    font-size: var(--font_size);
    text-align: center;
    font-family: "Softy Sharp", "Lucida Console", "Courier New", monospace;
    margin: 0px;
}

.page-container {
    border: solid var(--border_width) var(--text_color);
    padding-bottom: var(--spacing);
}

h1 {
    font-weight: inherit;
}

strong {
    font-weight: bolder;
}

/*BUTTON STYLES*/
button, .nav > a {
    font-family: Softy, "Softy Sharp", "Lucida Console", "Courier New", monospace;
    font-size: var(--button_font_size);
}

button, a {
    color: inherit;
    border-color: inherit;
    background-color: var(--background_color);
}

button:hover, a:hover {
    color: var(--text_hover);
    border-color: var(--text_hover);
    background-color: var(--background_color2);
}

a:link, a:visited {
    text-decoration: none;
}

/*WINDOW STYLES*/
.topbar {
    display: flex;
    border-bottom: solid var(--border_width);
    justify-content: space-between;
}

.title, .nav {
    display: flex;
    
}

.title {
    align-items: center;
}

.title span {
    padding-left: var(--spacing);
    text-align: left;
}

#icon {
    background-image: url("https://i.imgur.com/KC93Dtx.png");
    background-size: cover;
    width: 32px;
    height: 32px;
}

.nav > * {
    width: 48px;
    margin: -2px;
    box-sizing: border-box;
}

/*POPUP STYLES*/
#popup {
    position: absolute;
    border: solid var(--border_width);
    background-color: var(--background_color);
    left: 35%;
    right: 35%;
    top: 15%;
}

input {
    margin-left: auto;
    margin-right: auto;
}

.padded {
    padding: var(--spacing);
}

/*GALLERY STYLES*/
.gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--spacing);
}

.gallery-item {
    display:flex;
}

button, .gallery-item > a, .nav > a {
    border: solid var(--border_width);
    padding: var(--spacing);
}

/*media query breakpoints defined based on my laptop and firefox's responsive design tools*/
/*tablet/laptop (medium screens, 1280px - 981px)*/
@media screen and (max-width: 1280px) {
    :root {
        --font_size: 22px;
        --button_font_size: 18px;

        --spacing: 14px;
    }
    #popup {
        left: 30%;
        right: 30%;
        font-size: 1.2em;
    }
    button, .gallery-item > a, .nav > a {
        font-size: 1.2em;
        font-family: "Softy Sharp", Softy, "Lucida Console", "Courier New", monospace;
    }
    .nav > * {
        width: 2em;
    }
}

/*mobile phone (small screens, 980px or less)*/
@media screen and (max-width: 980px) {
    :root {
        --font_size: 24px;
        --button_font_size: 20px;

        --spacing: 16px;
    }
    #popup {
        left: 10%;
        right: 10%;
        font-size: 2em;
    }
    button, .gallery-item > a, .nav > a {
        font-size: 1.5em;
    }
    #icon {
        min-width: 40px;
        min-height: 40px;
    }
    h1 {
        font-size: 34px;
    }
}