/*holds styles specific to watersort.html*/
:root {
    /*Water colors. Can be changed in-game*/
    --water_0 : transparent;
    --water_1 : #3e6ddb;
    --water_2 : #3bf6ff;
    --water_3 : #25e125;
    --water_4 : #ffff57;
    --water_5 : #f58a19;
    --water_6 : #ffabe2;

    --transition_time: 1s;

    /*Tube size controls.*/
    --tube_width: 10vw; /*Width controls are also used for individual water segment heights.*/
    --tube_max_width: 84px;
    --tube_borderrad: 5vw;
    --tube_max_borderrad: 42px;
}

#controls {
    padding-bottom: var(--spacing);
}

#watersort {
    margin-left: var(--spacing);
    margin-right: var(--spacing);
    gap: var(--spacing);
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

/*the containers for 4 measures of water. they should be roughly tube, glass, or beaker shaped*/
.watertube {
    width: var(--tube_width);
    max-width: var(--tube_max_width);
    border: solid var(--border_width);
    border-bottom-left-radius: var(--tube_max_borderrad);
    border-bottom-right-radius: var(--tube_max_borderrad);
    overflow: clip;
    cursor: pointer;

    margin-top: var(--spacing);
    margin-bottom: 0px;

    /*transition: var(--transition_time);*/
}

.watertube.selected {
    margin-top: 0px;
    margin-bottom: var(--spacing);
    border-color: var(--text_hover);
}

.watertube:hover {
    border-color: var(--text_hover);
}

/*Water styles. Includes sizing and colors*/
.water {
    height: var(--tube_width);
    max-height: var(--tube_max_width);
}

.water0 {
    background-color: var(--water_0);
}

.water1 {
    background-color: var(--water_1);
}

.water2 {
    background-color: var(--water_2);
}

.water3 {
    background-color: var(--water_3);
}

.water4 {
    background-color: var(--water_4);
}

.water5 {
    background-color: var(--water_5);
}

.water6 {
    background-color: var(--water_6);
}

/*mobile phone (small screens, 640px or less)*/
@media screen and (max-width: 640px) {
    #watersort {
        margin: 0;
        gap: 4vw;
    }
    /*.watertube {
        width: 17vw;
        border-bottom-left-radius: 10vw;
        border-bottom-right-radius: 10vw;
    }
    .water {
        height: 17vw;
    }*/
}
